html, body {
    height: 100%;
}

body {
    max-width: 650px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.game-elements {
    padding-top: 50px;
}

.ball {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #58D9EC;
    position: relative;
    left: 270px;
    bottom: 30px;
    z-index: 0;
}

.cup {
    width: 140px;
    border-bottom: 300px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    float: left;
    position: relative;
    z-index: 1;
}

.cup:active {
    bottom: 100px;
}

button {
    position: absolute;
    background-color: red;
    color: white;
    outline: none;
    padding: 2px 20px;
}